h2 {
  color: green;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: aliceblue;
  align-items: center;
}

.description {
  font-style: italic;
}

.titlebox {
  margin-bottom: 150px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e5f5ff; /* Light Blue */
}

tr {
  background-color: #f0faff; /* Pale Blue */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 100px;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.login-form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 50px;
  text-align: center;
}

.login-form h2 {
  text-align: center;
}

button:hover {
  background-color: chartreuse;
}

.login {
  margin-bottom: 15px;
}

.login input {
  width: 85%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.createblog {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #deeffc;
  margin-bottom: 50px;
  text-align: center;
}

.createblog input {
  width: 85%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.createBlogBtn {
  margin-left: 50%;
  margin-right: 50%;
}
